body {
    font-family: Arial, sans-serif; 
    text-align: center;
}

header { 
    background-color: #ffcc00;
    color: red;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
        }
.image-row {
    justify-content: center;
    margin-bottom: 20px;
        }
.image-row img {
    margin: 0 10px;
    max-width: 200px;
    height: auto;
     border: 2px solid #000;
        }
#za opis slika
 figcaption{
     padding: 20px;
     color: black;
     text-size-adjust: 16px;
        }
